doctype html
html
  head

    title Course Search Result
h1 Course Inventory App
h2 Search results:
ul

    li= JSON.stringify(result)
style.
    body {
        font-size: 30px;
        background-color: #f00;
    }
