<!DOCTYPE html>

<html>
<head>
  

<style>
  .space1{
    padding-top: 3em;
  }
  
  .form-align{
    text-align : center;
  }
  
  body{
    background-color: red;
  }
  .padding1{
    padding-left:3em;
  }
</style>
  
<script>
function completeAndRedirect(){
    
    location.href='http://cs.tsu.edu/';
}
  function validateForm() {
    var x = document.forms["myForm"]["course_num", "course_title", "credit_hrs"].value;
    if (x == "") {
        alert("All fields must be filled out");
        return false;
    }
   else
   completeAndRedirect();
}
  
</script>
</head>

<body>
<h1>Course Inventory App</h1>
<h3 class="form-align"><u>Add New Course to the Inventory</u></h3>

<form class="form-align space1" name="myForm" action="/data1" onsubmit="validateForm()" method="POST">
  <h4>course number: <input type="text" name="course_num"></h4><br>
  <h4>course title: <input type="text" name="course_title"></h4><br>
  <h4>credit hours: <input type="text" name="credit_hrs"></h4><br>
<input type="submit" value="Add">

</form>
</body>


</html>
